.main{
    display: flex;
    
    justify-content: space-between;
    align-items: stretch;
    background-color: aqua;
    flex-grow: 1;
}

body{
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.images{
    display: flex;
    width: 200px;
    height: 200px;
    
}

.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;


}

.sides{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}